@import url(reset.css); /* reset deafult browser styles */
@import url(../fonts/poppins-v20-latin/stylesheet.css); /* font-family: 'Poppins', sans-serif; */

:root {
  /* Colors */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
}

/* General */

body {
  font-family: "Poppins", sans-serif;

  height: 100vh;
  background-color: var(--body-color);

  transition: var(--tran-02);
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 250px;

  padding: 10px 14px;

  background-color: var(--sidebar-color);

  transition: var(--tran-03);
}

.sidebar.close {
  width: 88px;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar.close .menu-text {
  display: none;
}

.sidebar.close .bottom-text {
  display: none;
}

/* Reusable CSS */

.text {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;

  color: var(--text-color);
  opacity: 1;

  transition: var(--tran-03);
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 60px;
}

/* Header */

.sidebar-header {
  margin-bottom: 30px;
}

.sidebar-header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 40px;
}

body.dark .header-logo {
  filter: invert(1);
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name,
.header-text .profession {
  font-weight: 600;
}

.header-text .name {
  padding-top: 2px;
}

.sidebar-header .toggle {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(180deg);

  width: 25px;
  height: 25px;

  background-color: var(--primary-color);
  border-radius: 50%;

  color: var(--sidebar-color);
  font-size: 16px;

  cursor: pointer;

  transition: var(--tran-03);
}

.sidebar.close .sidebar-header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar-header .toggle {
  color: var(--text-color);
}

/* Menu */

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100% - 65px);
}

.menu-list,
.bottom-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.menu-list__item,
.bottom-list__item {
  display: flex;
  align-items: center;

  height: 50px;
}

.menu-list__item .icon,
.bottom-list__item .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 60px;

  font-size: 20px;
}

.menu-list__item .icon,
.menu-list__item .text,
.bottom-list__item .icon,
.bottom-list__item .text {
  color: var(--text-color);
}

.menu-list__link,
.bottom-list__link {
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;

  border-radius: 6px !important;

  transition: var(--tran-03);
}

.menu-list__link:hover,
.bottom-list__link:hover {
  background-color: var(--primary-color);
}

.menu-list__link:hover .icon,
.menu-list__link:hover .text,
.bottom-list__link:hover .icon,
.bottom-list__link:hover .text {
  color: var(--sidebar-color);
}

body.dark .menu-list__link:hover .icon,
body.dark .menu-list__link:hover .text,
body.dark .bottom-list__link:hover .icon,
body.dark .bottom-list__link:hover .text {
  color: var(--text-color);
}

.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
}

.search-box__link {
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;
}

.search-box input {
  height: 100%;
  width: 100%;

  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);

  border-radius: 6px;
  background-color: var(--primary-color-light);
}

/* Mode */

.sidebar-bottom {
  margin-bottom: 30px;
}

.sidebar-bottom .mode {
  position: relative;

  border-radius: 6px;
  background-color: var(--primary-color-light);
}
.sidebar-bottom .moon-sun {
  display: flex;
  align-items: center;

  width: 60px;
  height: 50px;
}

.moon-sun .icon {
  position: absolute;
}

.moon-sun .sun {
  opacity: 0;
}

body.dark .moon-sun .sun {
  opacity: 1;
}

body.dark .moon-sun .moon {
  opacity: 0;
}

.sidebar-bottom .toggle-switch {
  position: absolute;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-width: 60px;
}

.toggle-switch .switch {
  position: relative;

  height: 22px;
  width: 44px;

  border-radius: 25px;
  background-color: var(--toggle-color);

  cursor: pointer;
}

.switch::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);

  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-color: var(--sidebar-color);

  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 24px;
}
